body
{

  font-family: 'Crimson Pro',
  serif;
  font-size: 16px;
}
main
{
  background: #f5f5dc;
  display: table;
  width: 40%;
  margin: 10px auto;
  overflow: auto;
}
header
{
  max-width: 500px;
  margin: auto;
}
section
{
  max-width: 500px;
  margin: auto;
}
h2
{
  font-family: cursive;
  padding-bottom: 10px;
}
nav
{
  color: purple;
  border-radius: 25px;
  width: 206px;
  margin: auto;
  border: 2px solid black;
  padding: 4px;
  float: right;
}
hr
{
  color: #DDD;
  width: 47%
}
footer
{
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
strong
{
  font-weight: bold;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
#title
{
  padding-left: 50px;
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
}
#britzola2
{
  padding-right: 5px;
  float: left;
  max-width: 7%;
  border-radius: 50px;
}
#britzola
{
  padding-right: 5px;
  float: left;
  max-width: 10%;
  border-radius: 50px;
}
#souvlaki
{
  border-radius: 5px;
  max-width: 100%;
  display: block;
  margin: auto;
}
#reviews
{
  float: left;
  max-width: 15%;
  border-radius: 50px;
}
