body
{
  width: 800px;
  margin: auto;
}
header, footer
{
  background-color: #48D1CC;
  padding: 5px 0px 10px 10px;
}
html
{
font-family: fantasy;
}

header > h1, footer
{
  color: #2F15A2  ;
}
nav
{
  border-radius: 25px;
  width: 289px;
  margin: auto;
  background-color: #87CEFA;
  border: 2px solid black;
  padding: 4px;
}
aside > p
{
  padding: 10px;
}
img
{
width: 170px;
height: 95px;

}
aside
{
  height: 540px;
  width: 200px;
  float: right;
  background-color: #AFEEEE;
}
section
{
  background-color: #E0FFFF;
  width: 700px;
  height: 270px;
}
aside, section
{
  padding: 5px 0px 10px 10px;
}
footer
{
  position: absolute;
  bottom: 0;
  width: 790px;
  height: 59px;
}
