.container1 {
        display: flex;
        align-items: left;
        justify-content: left;
      }
      img {
        max-width: 100%
      }
      .image1 {
        flex-basis: 100%
      }
      .text1 {
        font-size: 20px;
        padding-left: 20px;
      }

      .container2 {
              display: flex;
              align-items: left;
              justify-content: left;
            }
            img {
              max-width: 100%
            }
            .image2 {
              flex-basis: 20%
            }
            .text2 {
              font-size: 20px;
              padding-left: 20px;
            }
